@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #5dbed6f6;
}

.shadow{
  box-shadow: -64px -20px 168px 13px rgba(245,240,240,0.62);
  -webkit-box-shadow: -64px -20px 168px 13px rgba(245,240,240,0.62);
  -moz-box-shadow: -64px -20px 168px 13px rgba(245,240,240,0.62);
}